<div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
  <img class="mr-3" src="https://image.flaticon.com/icons/svg/167/167750.svg" alt="" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 lh-100">Profesores</h6>
    <small>Unviersidad Unipanamericana</small>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recientes</h6>
  <small class="d-block text-right mt-3 text-white">
    <a class="btn btn-info btn-sm" (click)="goBack()"><i class="fa fa-address-book" aria-hidden="true"></i>
      Registrar</a>
  </small>
  <div class="media text-muted pt-3" *ngFor="let teacher of teachers">
    <img class="mr-3" src="https://image.flaticon.com/icons/svg/660/660611.svg" alt="" width="48" height="48">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <a [routerLink]="['/teacher/detail/', teacher.idProfesor]"><strong
          class="d-block text-gray-dark">{{teacher.nombre}} {{teacher.apellidos}}</strong></a>
      <label class="d-block" for=""><i class="fa fa-envelope" aria-hidden="true"></i> {{teacher.correo}}</label>
      <label class="d-block" for=""><i class="fa fa-phone" aria-hidden="true"></i> {{teacher.telefono}}</label>
    </p>
    <p>
      <label for=""><i class="fa fa-calendar" aria-hidden="true"></i> {{teacher.fechaNacimiento | date}}</label>
    </p>
  </div>
</div>
