<div class="container">

  <h1 class="my-4">Sistema académico</h1>

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-md-3">
      <div class="card" >
        <img src="https://cdn.pixabay.com/photo/2016/11/29/09/41/bag-1868758_1280.jpg" class="card-img-top" alt="teacher">
        <div class="card-body">
          <h5 class="card-title">Profesores</h5>
          <p class="card-text">Conozca nuestros profesores calificados.</p>
          <a [routerLink]="['./teacher']" class="btn btn-info">Ver más ...</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" >
        <img src="https://cdn.pixabay.com/photo/2016/02/07/21/03/computer-1185626_1280.jpg" class="card-img-top" alt="stunde">
        <div class="card-body">
          <h5 class="card-title">Estudiantes</h5>
          <p class="card-text">Inscribe tus estudiantes y disfruta.</p>
          <a [routerLink]="['./student']" class="btn btn-info">Ver más ...</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <img src="https://cdn.pixabay.com/photo/2014/07/06/14/13/portfolio-385530_1280.jpg" class="card-img-top" alt="subject">
        <div class="card-body">
          <h5 class="card-title">Asignaturas</h5>
          <p class="card-text">Inscribe tus asignaturas y disfruta de nuestros cursos.</p>
          <a [routerLink]="['./subject']" class="btn btn-info">Ver más ...</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <img src="https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_1280.jpg" class="card-img-top" alt="group">
        <div class="card-body">
          <h5 class="card-title">Grupos</h5>
          <p class="card-text">Disfruta con tus compañeros en el aula de clase.</p>
          <a [routerLink]="['./group']" class="btn btn-info">Ver más ...</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>